* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  user-select: none;
  caret-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f5f6f8;
}

input,
textarea,
select,
[contenteditable="true"] {
  user-select: text;
  caret-color: auto;
}

button {
  cursor: pointer;
}
